<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../../">
  <title data-ice="title">src/components/FilterModal/index.tsx | daylart</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-artwork">components/Artwork</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtworkComponent">ArtworkComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-artworkcarouseldouble">components/ArtworkCarouselDouble</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtworkCarouselDouble">ArtworkCarouselDouble</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-artworkcarouseldouble-likedartworkscarousel">components/ArtworkCarouselDouble/LikedArtworksCarousel</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-LikedArtworksCarousel">LikedArtworksCarousel</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-artworkcarouseldouble-matchedpainting">components/ArtworkCarouselDouble/MatchedPainting</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-PaintingsMatchedFromSource">PaintingsMatchedFromSource</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-artworkcarouseldouble-mostmatched">components/ArtworkCarouselDouble/MostMatched</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MostMatchedComponent">MostMatchedComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-artworkcarouseldouble-paintingsfromsameartist">components/ArtworkCarouselDouble/PaintingsFromSameArtist</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-PaintingsFromSameArtistComponent">PaintingsFromSameArtistComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-artworkcarouselsingle">components/ArtworkCarouselSingle</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtworkCarouselSingle">ArtworkCarouselSingle</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-artworkgrid">components/ArtworkGrid</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtworkGrid">ArtworkGrid</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-artworkgrid-matchingbycolorgrid">components/ArtworkGrid/MatchingByColorGrid</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingByColorGrid">MatchingByColorGrid</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-artworkgridtabview">components/ArtworkGridTabView</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtworkGridTabView">ArtworkGridTabView</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-detailedcomponents-headerdetailedpage">components/DetailedComponents/HeaderDetailedPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HeaderDetailedPage">HeaderDetailedPage</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-discoverbycolor">components/DiscoverByColor</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-DiscoverByColor">DiscoverByColor</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-randomColor">randomColor</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-explorecomponent">components/ExploreComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ExploreComponent">ExploreComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-filtermodal">components/FilterModal</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-FilterModal">FilterModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-headercomponent-headerartistnonusercomponent">components/HeaderComponent/HeaderArtistNonUserComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HeaderArtistNonUser">HeaderArtistNonUser</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-headercomponent-headerartworkcomponent">components/HeaderComponent/HeaderArtworkComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HeaderArtwork">HeaderArtwork</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-HEADER_MAX_HEIGHT">HEADER_MAX_HEIGHT</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-headercomponent-headereditprofilecomponent">components/HeaderComponent/HeaderEditProfileComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HeaderEditProfileComponent">HeaderEditProfileComponent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-HEADER_MAX_HEIGHT">HEADER_MAX_HEIGHT</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-HEADER_MIN_HEIGHT">HEADER_MIN_HEIGHT</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-HEADER_SCROLL_DISTANCE">HEADER_SCROLL_DISTANCE</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-ICON_TRANSITION">ICON_TRANSITION</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SUBSTRACT_START_TRANSITION">SUBSTRACT_START_TRANSITION</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-headercomponent-headerusercomponent">components/HeaderComponent/HeaderUserComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HeaderUserComponent">HeaderUserComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-imagepickercomponent">components/ImagePickerComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ImagePickerComponent">ImagePickerComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-informations">components/Informations</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Information">Information</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-modals-addtolistmodal">components/Modals/AddToListModal</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-AddToListModal">AddToListModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-modals-colorpickermodal">components/Modals/ColorPickerModal</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ColorPickerModal">ColorPickerModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-modals-editlistmodal">components/Modals/EditListModal</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-EditListModal">EditListModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-modals-matchingimage">components/Modals/MatchingImage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ModalMatchingImage">ModalMatchingImage</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-modals-newlistmodal">components/Modals/NewListModal</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-NewListModal">NewListModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-modals-threedotsprofilemodal">components/Modals/ThreeDotsProfileModal</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ThreeDotsProfileModal">ThreeDotsProfileModal</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-moreinformation">components/MoreInformation</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MoreInformation">MoreInformation</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-moreinformation-artistmoreinfo">components/MoreInformation/ArtistMoreInfo</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtworkMoreInfo">ArtworkMoreInfo</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-moreinformation-artworkmoreinfo">components/MoreInformation/ArtworkMoreInfo</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtworkMoreInfo">ArtworkMoreInfo</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-searchartworkgridcomponent">components/SearchArtworkGridComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SearchArtworkGridComponent">SearchArtworkGridComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-commentbar">components/SocialNetwork/CommentBar</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-CommentBar">CommentBar</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-headermainpage">components/SocialNetwork/HeaderMainPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HeaderMainPage">HeaderMainPage</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-headerpost">components/SocialNetwork/HeaderPost</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-HeaderPost">HeaderPost</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-messagegrid">components/SocialNetwork/MessageGrid</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MessageGrid">MessageGrid</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-messagepreview">components/SocialNetwork/MessagePreview</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MessagePreviewComponent">MessagePreviewComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-newpost-newpostbutton">components/SocialNetwork/NewPost/NewPostButton</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-NewPostButton">NewPostButton</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-newpost-newpostheader">components/SocialNetwork/NewPost/NewPostHeader</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-NewPostHeader">NewPostHeader</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-newpost-newposttext">components/SocialNetwork/NewPost/NewPostText</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-NewPostText">NewPostText</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-notifications-notificationcomponent">components/SocialNetwork/Notifications/NotificationComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-NotificationComponent">NotificationComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-notifications-notificationgrid">components/SocialNetwork/Notifications/NotificationGrid</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-NotificationGrid">NotificationGrid</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-optioncomponent">components/SocialNetwork/OptionComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-OptionComponent">OptionComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-postanalysis">components/SocialNetwork/PostAnalysis</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-PostAnalysis">PostAnalysis</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-postcomment">components/SocialNetwork/PostComment</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-PostComment">PostComment</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-postpainting">components/SocialNetwork/PostPainting</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-PostPainting">PostPainting</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-postsocial">components/SocialNetwork/PostSocial</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-PostSocial">PostSocial</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-repostpost">components/SocialNetwork/RepostPost</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-RepostPost">RepostPost</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-threedotscomponent">components/SocialNetwork/ThreeDotsComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ThreeDotsComponent">ThreeDotsComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-toolbarpainting">components/SocialNetwork/ToolBarPainting</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ToolBarPainting">ToolBarPainting</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-socialnetwork-toolbarpost">components/SocialNetwork/ToolBarPost</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ToolBarPost">ToolBarPost</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-squarecomponent">components/SquareComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtistComponent">ArtistComponent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListComponent">ListComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-squarecomponentgrid">components/SquareComponentGrid</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SquareComponentGrid">SquareComponentGrid</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-squarecomponentgrid-artistgrid">components/SquareComponentGrid/ArtistGrid</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ArtistGrid">ArtistGrid</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-squarecomponentgrid-listgrid">components/SquareComponentGrid/ListGrid</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListGridComponent">ListGridComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-squarecomponentgrid-myartists">components/SquareComponentGrid/MyArtists</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MyLikedArtists">MyLikedArtists</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-squarecomponentgrid-mylists">components/SquareComponentGrid/MyLists</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MyListsComponent">MyListsComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-squarecomponentgrid-randomartists">components/SquareComponentGrid/RandomArtists</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-RandomArtists">RandomArtists</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-squarecomponentgrid-similarartists">components/SquareComponentGrid/SimilarArtists</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SimilarArtists">SimilarArtists</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-userdata">components/UserData</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-UserData">UserData</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-backbutton">components/Utilities/BackButton</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-BackButtonComponent">BackButtonComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-biographyinput">components/Utilities/BiographyInput</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-BiographyInput">BiographyInput</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-credentialsinput">components/Utilities/CredentialsInput</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-CredentialsInputComponent">CredentialsInputComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-editprofileinput">components/Utilities/EditProfileInput</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-EditProfileInput">EditProfileInput</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-loadingscreen">components/Utilities/LoadingScreen</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Index">Index</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-newsearchbar">components/Utilities/NewSearchBar</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-NewSearchBar">NewSearchBar</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-onclickimage">components/Utilities/OnClickImage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-OnClickImageComponent">OnClickImageComponent</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-searchbar">components/Utilities/SearchBar</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SmallerSearchBar">SmallerSearchBar</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-tag">components/Utilities/Tag</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-Tag">Tag</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-toastcomponent">components/Utilities/ToastComponent</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ToastComponent">ToastComponent</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-toastConfig">toastConfig</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#components-utilities-toolbarlistpage">components/Utilities/ToolBarListPage</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ToolBarListPage">ToolBarListPage</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#screens">screens</a><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-EditProfile">EditProfile</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ExplorePage">ExplorePage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-ListContentPage">ListContentPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-LoginScreen">LoginScreen</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MatchingByColorPage">MatchingByColorPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-MyProfile">MyProfile</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-OldArtistPage">OldArtistPage</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-SignUpScreen">SignUpScreen</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-function">F</span><span data-ice="name"><span><a href="function/index.html#static-function-WelcomeScreen">WelcomeScreen</a></span></span></li>
<li data-ice="doc"><a data-ice="dirPath" class="nav-dir-path" href="identifiers.html#services">services</a><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-authService">authService</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-IMG1">IMG1</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-IMG2">IMG2</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-LOGIN">LOGIN</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-LOREM">LOREM</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-PP1">PP1</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-PP2">PP2</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-RELOAD">RELOAD</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SALT">SALT</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-SIGNUP">SIGNUP</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-variable">V</span><span data-ice="name"><span><a href="variable/index.html#static-variable-URL">URL</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">src/components/FilterModal/index.tsx</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">import React, {useCallback, useEffect, useState} from &apos;react&apos;;
import {Dimensions, Text, TouchableOpacity, View} from &apos;react-native&apos;;
import styles from &quot;./styles&quot;;
import Modal from &quot;react-native-modal&quot;;
import DropDownPicker from &quot;react-native-dropdown-picker&quot;
import {Entypo, Feather, MaterialIcons} from &quot;@expo/vector-icons&quot;;
import {URL} from &quot;../../services/constantes&quot;
import axios from &quot;axios&quot;;

// REWORKED ARROW UP ICON FOR DROPDOWNS
const ArrowUpIcon = () =&gt; {
    return &lt;MaterialIcons name={&quot;keyboard-arrow-up&quot;} size={30} color={&quot;white&quot;}/&gt;
}

// REWORKED ARROW DOWN ICON FOR DROPDOWNS
const ArrowDownIcon = () =&gt; {
    return &lt;MaterialIcons name={&quot;keyboard-arrow-down&quot;} size={30} color={&quot;white&quot;}/&gt;
}

// REWORKED TICK ICON FOR DROPDOWNS
const TickIcon = () =&gt; {
    return &lt;Feather name={&quot;check&quot;} size={20} color={&quot;white&quot;}/&gt;
}

// PROPS
export type FilterModalProps = {
    filter: Object,
    setFilter(filter: any): void,
    isModalVisible: boolean,
    setModalVisible(isModalVisible: boolean): void
}

/**
 * Component used to filter search in the {@link ExplorePage}
 *
 * &lt;img src=&quot;https://drive.google.com/uc?export=view&amp;id=1iU5fIyy5IP-DnEbLu2Vi0PfGTOxgjVa7&quot; alt=&quot;ArtworkPage&quot; height=&quot;500&quot;&gt;
 * @param {FilterModalProps} props
 * @param {Object} props.filter - Filters chosen by the user
 * @param {void} props.setFilter(filter: any) - Function for setting new filters on change
 * @param {boolean} props.isModalVisible - Modal visibility
 * @param {void} props.setModalVisible(isModalVisible: boolean) - Function for toggling modal visibility
 * @constructor
 * @return FilterModal
 */
export default function FilterModal(props: FilterModalProps) {

    // FOR OPENING/CLOSING A DROPDOWN
    // const [artMovementOpen, setArtMovementOpen] = useState(false);
    // const [colorOpen, setColorOpen] = useState(false);
    const [styleOpen, setStyleOpen] = useState(false);
    const [genreOpen, setGenreOpen] = useState(false);
    const [nationalityOpen, setNationalityOpen] = useState(false);

    // FOR CLOSING THE OTHER DROPDOWNS
    // const onArtMovementOpen = useCallback(() =&gt; {
    //     setColorOpen(false)
    //     setStyleOpen(false)
    //     setGenreOpen(false)
    //     setNationalityOpen(false)
    // }, [])
    // const onColorOpen = useCallback(() =&gt; {
    //     setArtMovementOpen(false)
    //     setStyleOpen(false)
    //     setGenreOpen(false)
    //     setNationalityOpen(false)
    // }, [])
    const onStyleOpen = useCallback(() =&gt; {
        // setArtMovementOpen(false)
        // setColorOpen(false)
        setGenreOpen(false)
        setNationalityOpen(false)
    }, [])
    const onGenreOpen = useCallback(() =&gt; {
        // setArtMovementOpen(false)
        // setColorOpen(false)
        setStyleOpen(false)
        setNationalityOpen(false)
    }, [])
    const onNationalityOpen = useCallback(() =&gt; {
        // setArtMovementOpen(false)
        // setColorOpen(false)
        setStyleOpen(false)
        setGenreOpen(false)
    }, [])

    // WHICH FILTERS THE USER CHOSE FOR EACH DROPDOWN
    // const [colorValues, setColorValues] = useState([]);
    const [styleValue, setStyleValue] = useState(&quot;&quot;);
    const [genreValue, setGenreValue] = useState(&quot;&quot;);
    const [nationalityValue, setNationalityValue] = useState(&quot;&quot;);

    useEffect(() =&gt; {
        // API CALL TO GET ALL FILTERS POSSIBLE FOR STYLES
        axios.get(URL + `paintingFront/listStyles`).then((response) =&gt; {
            // PARSING DATA
            let data = response.data.map((item: { weight: number, code: string, name: string }) =&gt; {
                return {
                    label: item.name,
                    value: item.code
                }
            })
            data.shift() // removes first empty element
            setStyleItems(data)
        });

        // API CALL TO GET ALL FILTERS POSSIBLE FOR GENRES
        axios.get(URL + `paintingFront/listGenres`).then((response) =&gt; {
            // PARSING DATA
            let data = response.data.map((item: { weight: number, code: string, name: string }) =&gt; {
                return {
                    label: item.name,
                    value: item.code
                }
            })
            data.shift() // removes first empty element
            setGenreItems(data)
        });

        // API CALL TO GET ALL FILTERS POSSIBLE FOR ORIGINS
        axios.get(URL + `paintingFront/listOrigins`).then((response) =&gt; {
            // PARSING DATA
            let data = response.data.map((item: { weight: number, code: string, name: string }) =&gt; {
                return {
                    label: item.name,
                    value: item.code
                }
            })
            data.shift() // removes first empty element
            setNationalityItems(data)
        });
    }, [])

    // LIST OF FILTERS POSSIBLE TO CHOOSE
    // const [artMovementItems, setArtMovementItems] = useState([
    //     {label: &apos;Symbolism&apos;, value: &apos;symbolism&apos;},
    //     {label: &apos;Renaissance&apos;, value: &apos;renaissance&apos;},
    //     {label: &apos;Impressionism&apos;, value: &apos;impressionism&apos;},
    //     {label: &apos;Pointillism&apos;, value: &apos;pointillism&apos;},
    // ]);
    // const [colorItems, setColorItems] = useState([
    //     {label: &apos;Red&apos;, value: &apos;red&apos;},
    //     {label: &apos;Green&apos;, value: &apos;green&apos;},
    // ]);
    const [styleItems, setStyleItems] = useState([
        {label: &apos;&apos;, value: &apos;&apos;}
    ]);
    const [genreItems, setGenreItems] = useState([
        {label: &apos;&apos;, value: &apos;&apos;}
    ]);
    const [nationalityItems, setNationalityItems] = useState([
        {label: &apos;&apos;, value: &apos;&apos;}
    ]);

    const toggleModal = () =&gt; {
        props.setModalVisible(!props.isModalVisible);
    };

    // ON CLICK BUTTON FILTER =&gt; SEND FILTER DATA
    const toggleFilter = () =&gt; {
        props.setModalVisible(false)
        props.setFilter({
            // artMovementFilter: Object.values(props.artMovementValues),
            // colorFilter: Object.values(colorValues),
            styleFilter: styleValue,
            genreFilter: genreValue,
            nationalityFilter: nationalityValue
        })
    }

    // CLEAR ALL THE FILTERS VALUES
    const clearFilter = () =&gt; {
        props.setModalVisible(false)
        props.setFilter({
            styleFilter: &quot;&quot;,
            genreFilter: &quot;&quot;,
            nationalityFilter: &quot;&quot;
        })
    }

    const deviceWidth = Dimensions.get(&quot;window&quot;).width;
    const deviceHeight = Dimensions.get(&quot;window&quot;).height

    return (
        &lt;Modal isVisible={props.isModalVisible}
               animationIn={&quot;fadeIn&quot;}
               animationOut={&quot;fadeOut&quot;}
               deviceHeight={deviceHeight}
               deviceWidth={deviceWidth}
               statusBarTranslucent={true}
               backdropOpacity={0.8}
               style={styles.containerModal}
        &gt;
            {/*BACK BUTTON*/}
            &lt;TouchableOpacity style={styles.backButton} onPress={() =&gt; toggleModal()}&gt;
                &lt;Entypo name={&quot;chevron-left&quot;} size={30} color={&quot;white&quot;}/&gt;
            &lt;/TouchableOpacity&gt;

            {/*TITLE*/}
            &lt;Text style={styles.title}&gt;Filters&lt;/Text&gt;

            {/*DROPDOWNS AND BUTTON CONTAINER*/}
            &lt;View style={[styles.container, {flex: 1, marginTop: 100, marginBottom: 100}]}&gt;

                {/*DROPDOWNS CONTAINER*/}
                &lt;View style={styles.pickersContainer}&gt;
                    {/*&lt;DropDownPicker
                            placeholder={&quot;Art Movement&quot;}
                            min={0}
                            max={5}
                            multiple={true}
                            open={artMovementOpen}
                            value={props.artMovementValues}
                            items={artMovementItems}
                            setOpen={setArtMovementOpen}
                            onOpen={onArtMovementOpen}
                            setValue={() =&gt; props.setArtMovementValues}
                            setItems={setArtMovementItems}
                            zIndex={5000}
                            zIndexInverse={1000}
                            containerStyle={styles.picker}
                            style={styles.dropdownInside}
                            labelStyle={styles.labelStyle}
                            placeholderStyle={styles.dropdownPlaceholder}
                            dropDownContainerStyle={styles.dropDownContainerStyle}
                            listItemLabelStyle={styles.listItemLabelStyle}
                            ArrowDownIconComponent={() =&gt; &lt;ArrowDownIcon/&gt;}
                            ArrowUpIconComponent={() =&gt; &lt;ArrowUpIcon/&gt;}
                            TickIconComponent={() =&gt; &lt;TickIcon/&gt;}
                        /&gt;*/}
                    {/*&lt;DropDownPicker
                            placeholder={&quot;Color&quot;}
                            min={0}
                            max={5}
                            multiple={true}
                            open={colorOpen}
                            value={colorValues}
                            items={colorItems}
                            setOpen={setColorOpen}
                            onOpen={onColorOpen}
                            setValue={setColorValues}
                            setItems={setColorItems}
                            zIndex={4000}
                            zIndexInverse={2000}
                            containerStyle={styles.picker}
                            style={styles.dropdownInside}
                            labelStyle={styles.labelStyle}
                            placeholderStyle={styles.dropdownPlaceholder}
                            dropDownContainerStyle={styles.dropDownContainerStyle}
                            listItemLabelStyle={styles.listItemLabelStyle}
                            ArrowDownIconComponent={() =&gt; &lt;ArrowDownIcon/&gt;}
                            ArrowUpIconComponent={() =&gt; &lt;ArrowUpIcon/&gt;}
                            TickIconComponent={() =&gt; &lt;TickIcon/&gt;}
                        /&gt;*/}
                    {/*STYLE FILTER DROPDOWN*/}
                    &lt;DropDownPicker
                        placeholder={&quot;Style&quot;}
                        min={0}
                        max={5}
                        open={styleOpen}
                        value={styleValue}
                        items={styleItems}
                        setOpen={setStyleOpen}
                        onOpen={onStyleOpen}
                        setValue={setStyleValue}
                        setItems={setStyleItems}
                        zIndex={3000}
                        zIndexInverse={1000}
                        containerStyle={styles.picker}
                        style={styles.dropdownInside}
                        labelStyle={styles.labelStyle}
                        placeholderStyle={styles.dropdownPlaceholder}
                        dropDownContainerStyle={styles.dropDownContainerStyle}
                        listItemLabelStyle={styles.listItemLabelStyle}
                        ArrowDownIconComponent={() =&gt; &lt;ArrowDownIcon/&gt;}
                        ArrowUpIconComponent={() =&gt; &lt;ArrowUpIcon/&gt;}
                        TickIconComponent={() =&gt; &lt;TickIcon/&gt;}
                    /&gt;

                    {/*GENRE FILTER DROPDOWN*/}
                    &lt;DropDownPicker
                        placeholder={&quot;Genre&quot;}

                        open={genreOpen}
                        value={genreValue}
                        items={genreItems}
                        setOpen={setGenreOpen}
                        onOpen={onGenreOpen}
                        setValue={setGenreValue}
                        setItems={setGenreItems}
                        zIndex={3000}
                        zIndexInverse={1000}
                        containerStyle={styleOpen ? {marginTop: 200} : styles.picker}
                        style={styles.dropdownInside}
                        labelStyle={styles.labelStyle}
                        placeholderStyle={styles.dropdownPlaceholder}
                        dropDownContainerStyle={styles.dropDownContainerStyle}
                        listItemLabelStyle={styles.listItemLabelStyle}
                        ArrowDownIconComponent={() =&gt; &lt;ArrowDownIcon/&gt;}
                        ArrowUpIconComponent={() =&gt; &lt;ArrowUpIcon/&gt;}
                        TickIconComponent={() =&gt; &lt;TickIcon/&gt;}
                    /&gt;

                    {/*ORIGIN FILTER DROPDOWN*/}
                    &lt;DropDownPicker
                        placeholder={&quot;Origin&quot;}
                        open={nationalityOpen}
                        value={nationalityValue}
                        items={nationalityItems}
                        setOpen={setNationalityOpen}
                        onOpen={onNationalityOpen}
                        setValue={setNationalityValue}
                        setItems={setNationalityItems}
                        zIndex={3000}
                        zIndexInverse={1000}
                        containerStyle={genreOpen ? {marginTop: 200} : styles.picker}
                        style={styles.dropdownInside}
                        labelStyle={styles.labelStyle}
                        placeholderStyle={styles.dropdownPlaceholder}
                        dropDownContainerStyle={styles.dropDownContainerStyle}
                        listItemLabelStyle={styles.listItemLabelStyle}
                        ArrowDownIconComponent={() =&gt; &lt;ArrowDownIcon/&gt;}
                        ArrowUpIconComponent={() =&gt; &lt;ArrowUpIcon/&gt;}
                        TickIconComponent={() =&gt; &lt;TickIcon/&gt;}
                    /&gt;
                &lt;/View&gt;

                {/*CLEAR FILTERS BUTTON*/}
                &lt;TouchableOpacity style={[styles.clearButton]} onPress={() =&gt; {
                    setStyleValue(&quot;&quot;)
                    setGenreValue(&quot;&quot;)
                    setNationalityValue(&quot;&quot;)
                    toggleModal();
                    clearFilter()
                }}&gt;
                    &lt;Text style={styles.buttonText}&gt;Clear filters&lt;/Text&gt;
                &lt;/TouchableOpacity&gt;

                {/*APPLY FILTERS BUTTON*/}
                &lt;TouchableOpacity style={[styles.button]} onPress={() =&gt; {
                    toggleModal();
                    toggleFilter()
                }}&gt;
                    &lt;Text style={styles.buttonText}&gt;Apply filters&lt;/Text&gt;
                &lt;/TouchableOpacity&gt;
            &lt;/View&gt;
        &lt;/Modal&gt;
    )
}</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(1.1.0)</span><img src="./image/esdoc-logo-mini-black.png"></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
